﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <video id="playerOne" poster="@Url.Content(Model.Poster)" class="video-js vjs-default-skin" src="{Your address web}/API/VideoStreamAPI/fromvideo/?videoName=@Model.FilePaly" controls controlsList="nodownload" crossorigin="anonymous"></video>
    </div>
</body>
</html>
